.background{
    -fx-background-color: #182527;
}

.background2{
    -fx-background-color: #20CD8D;

}

.backgroundK{
    -fx-background-color: #ffffff;

}

.backgroundB{
    -fx-background-color: #CCF4E5;
}

.home{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #fffefe;
    -fx-background-radius: 25px ;
    /* -fx-pref-width: 100px;
    -fx-pref-height: 30px; */

}

.home2{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #A6A6A6;
    -fx-background-radius: 25px ;
}

.judul{
    -fx-font-family: "Nunito";
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}


.judul2{
    -fx-font-family: "Nunito";
    -fx-font-size: 50px;
    -fx-text-fill: #20CD8D;
    -fx-font-weight: bold;
}

.judul3{
    -fx-font-family: "Nunito";
    -fx-font-size: 45px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;

}

.judul4{
    -fx-font-family: "Nunito";
    -fx-font-size: 40px;
    -fx-text-fill: #20CD8D;
    -fx-font-weight: bold;
}

.buton{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-background-color: #20CD8D;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
    -fx-background-radius: 25px ; 
}

.buton2{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #fff;
    -fx-background-radius: 25px ;
    -fx-pref-width: 200px;
    -fx-pref-height: 45px;

}

.buton3{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #A6A6A6;
    -fx-background-radius: 25px ;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.buton4{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #A6A6A6;
    -fx-background-radius: 25px ;
    -fx-pref-width: 410px;
}

.buton5{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #ffffff;
    -fx-background-radius: 25px ;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;

}

.buton6{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 25px ;
    -fx-pref-width: 80px;
    -fx-pref-height: 0px;

}

.buton7{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #ffffff;
    -fx-pref-width: 350px;

}

.buton8{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #D9D9D9;
    -fx-background-radius: 5px ;
    -fx-pref-width: 80px;
    -fx-pref-height: 0px;

}

.depan{
    -fx-font-family: "Poppins";
    -fx-font-size: 50px;
    -fx-text-fill: #20CD8D;
    -fx-font-weight: bold;

}

.depan2{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-text-fill: #ffff;
    -fx-font-weight: bold;
    /* -fx-font-weight: bold; */

}

.depan3{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-text-fill: #ffff;

}


.keuangan{
    -fx-font-family: "Nunito";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;

}


.judulk{
    -fx-font-family: "Nunito";
    -fx-font-size: 50px;
    -fx-text-fill: #20CD8D;
    -fx-font-weight: bold;
}

.karyawan{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
}

.foto{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;
    -fx-background-color: #A6A6A6;
    -fx-background-radius: 25px ;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.name{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #040404;

}


.text1{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-background-color: #20CD8D;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px ; 
}

.butonn{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-background-color: #20CD8D;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-radius: 25px ; 
    /* -fx-pref-height: 300px; */

}

#tf-home{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-background-color: #20CD8D;
    -fx-font-weight: bold;
    -fx-text-fill: #ffff;
    -fx-prompt-text-fill: white;
    -fx-background-radius: 25px ; 
    -fx-alignment: center;
}

#tf-name1{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-background-color: #ffff;
    -fx-font-weight: bold;
}

.tokok{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;

}

.tokok2{
    -fx-font-family: "Nunito";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #20CD8D;

}







